.skills-page {
  /* color: white; */

  font-family: "Prompt", sans-serif;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: space-around;
  align-items: center;
}

.skills-page h2 {
  margin-top: 1rem;
  flex: 1;
  font-family: "Chonburi", cursive;
  letter-spacing: 2px;
    font-size: 3.5em; 
    font-weight: bold;
    min-height: 3rem;
}

.skills-page .page-container {
    /* flex: 3; */
  /* background-color: burlywood; */
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.skills-page .another-skills {
  flex: 1;
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 30px;
}

.skills-page .another-skills ul {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* flex-wrap:wrap; */
  height: 100%;
}

.skills-page .another-skills ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
  text-align: center;
  /* position: relative; */
  background-color: #e1e9fe;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  /* background-color: #1D73FB; */
  border-radius: 8%;
}

.skills-page .another-skills ul li .another-skills-headline {
  font-size: 1.5em;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  color: #090a3b;
  padding: 10px 0;
}

.skills-page .another-skills ul li .another-skills-info {
  min-height: 3.5em;
}

.skills-page .another-skills ul li div{
  margin-top: 10px;
  flex: 2;
}


.skills-page .another-skills img {
  height: 4em;
  width: 4em;
  flex:1;
  /* padding: 10px; */
  /* border-radius: 50%; */
}


.skills-page .skills {
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 100%;
  flex: 1;
  margin: 30px;
}

.skills-page .skills .skill-bar {
  background-color: #f4f4f4;
  position: relative;
  flex: 10;
  /* height: max-content; */
}

.skills-page .skills .skill-bar[data-precentage]::after {
  content: attr(data-precentage) "%";
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 10px;
  animation: appear-precentage 1s ease-in 2250ms 1 forwards;
}


.skills-page .skills ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: crimson; */
  height: 100%;
}
.skills-page .skills li {
  display: flex;
  /* margin: 10px; */
  border-radius: 10px;
  overflow: hidden;
}

.skills-page .skills .skill-name {
  color: white;
  background-color: #2175fb;
  text-align: center;
  padding: 10px;
  flex: 2;
}

.skill-fill {
  background-color: #e1e9fe;

  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 10px; */
}

.animation-fill-90 {
  animation: fill-skill calc(90 * 10ms * 2.5) linear 0s 1 reverse;
  width: 90%;
}

.animation-fill-80 {
  animation: fill-skill calc(80 * 10ms * 2.5) linear 0s 1 reverse;
  width: 80%;
}

.animation-fill-70 {
  animation: fill-skill calc(70 * 10ms * 2.5) linear 0s 1 reverse;
  width: 70%;
}

.animation-fill-60 {
  animation: fill-skill calc(60 * 10ms * 2.5) linear 0s 1 reverse;
  width: 60%;
}

@keyframes fill-skill {
  to {
    width: 0%;
  }
}

@keyframes appear-precentage {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


@media (max-width:1200px){
  .skills-page{
    font-size: 0.9em;
  }
}

@media (max-width:768px){
  .skills-page{
    height: max-content;
  }
  .skills-page .page-container {
    flex-direction: column;
    padding:0;
    /* font-size: 0.7em; */
  }

  .skills-page .another-skills
  {
    
    width: 100%;
    margin:  20px;
    height: 80vh;
    /* max-height: 40%; */
  }

  .skills-page .another-skills ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 10px;
  }

  .skills-page .another-skills ul li {
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    margin: 10px
    /* padding: 5px; */
  }

  .skills-page .another-skills ul li img{
    flex:1;
  }
  .skills-page .another-skills ul li div{
    flex:2;
    margin: 0 5px;
  }

  .skills-page .skills {
    padding: 0 10px;
    margin: 0;
    /* height: 80vh; */
  }

  .skills-page .skills ul li{
    margin: 10px;
  }
}

@media(max-width:500px){
  .skills-page .another-skills
  {
    
    width: 100%;
    margin:  20px;
    height: 80vh;
    /* max-height: 40%; */
  }

  .skills-page .another-skills ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* margin: 10px; */
  }

  .skills-page .another-skills ul li {
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: none;
    border-bottom: #e1e9fe 2px solid;
    border-radius: 0px;
    margin:10px 30px;
    /* padding: 10px; */
  }
}

@media(max-height:500px){
  .skills-page h2 {
    margin-top: 0px;
  }

  .skills-page .page-container{
    padding: 0;
    margin: 10px;
    max-height: 80%;
  }
}